.contenedor-botones-usuario {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
}

.contenedor-lista-posts {
    color:red;
}

.boton-usuario {
    background-color: rgb(5, 163, 190);
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;

}

.contenedor-body-posts{
    color:blue;
}